<template>
    <div>
        Login User:
        <select name="" id="" v-model="auth" @change="switchAuth">
            <option v-for="(i, index) in customers" :value="i">{{ i.name }}({{ i.phone }})</option>
        </select>

        <button class="open-button" @click="toggleChatForm()">Chat</button>

        <div class="chat-popup" id="myForm" :class="display_form">
            <form action="/action_page.php" class="form-container">
                <!--<h1>Chat</h1>-->

                <label for="msg"><b>Message</b></label>
                <div class="message-box" style="background: #e2e2e2; padding: 15px 10px">
                    <div v-for="(i, index) in messages" :class="{'auth': (auth.firebase_id === i.sender_id), 'dest': (auth.firebase_id !== i.sender_id)}">
                        {{ i.message }}
                    </div>
                </div>
                <textarea id="msg" v-model="messageData.text" placeholder="Type message.." name="msg" required></textarea>
                <button type="button" class="btn" @click="sendMessage()">Send</button>
                <!--<button type="button" class="btn cancel" @click="toggleChatForm()">Close</button>-->
            </form>
        </div>
    </div>
</template>

<script>
    import { db } from '../firestore/db'
    const persons = db.collection("persons");
    import firebase from 'firebase/app'

    export default {
        name: 'ChatBoxCustomer',
        data() {
          return {
              display_form: 'none',
              auth: {},
              destination: {},
              customers: [],
              chatId: null,
              roomId: null,
              messageData: {
                  text: ''
              },
              messages: [],
              activeRoom: {},
              activeRoomId: '',
          }
        },
        mounted() {
            this.getUser();
            this.getSupport();
        },
        methods: {
            getSupport: function() {
                axios.get('/get_support').then(response => {
                    this.destination = response.data;
                    // console.log(this.customers)
                });
            },
            switchAuth: function() {
                console.log(this.auth)
                persons
                    .where("members", "array-contains", this.auth.firebase_id)
                    .onSnapshot(querySnapshot => {
                        querySnapshot.docChanges().forEach(change => {
                            this.activeRoom = change.doc.data();
                            this.activeRoomId = change.doc.id;

                            if (change.type === "added") {
                                this.getMessagesByRoom(change.doc.id);
                                //this.persons.push(change.doc.data());
                            }
                            if (change.type === "modified")
                            {
                                var docData = change.doc.data();
                                this.getMessageById(docData.message_object.chat_id)
                            }
                            if (change.type === "removed") {

                            }
                            console.log('snapshot', change.type);
                        });
                    });

                // console.log(this.persons);
            },
            toggleChatForm: function() {

                if (this.display_form === 'none')
                {
                    this.display_form = 'block'
                }
                else
                {
                    this.display_form = 'none'
                }

            },
            getUser: function ()
            {
                axios.get('/get_user').then(response => {
                    this.customers = response.data;
                    console.log(this.customers)
                });
            },

            getMessagesByRoom(roomId) {
                axios.get('/get_messages?room_id='+roomId).then(response => {
                    // console.log(response.status);
                    this.messages = response.data;
                });
            },
            getMessageById(chatId) {
                axios.get('/get_message?chat_id='+chatId).then(response => {
                    this.messages.push(response.data)
                });
            },

            sendMessage() {
                this.chatId = this.randStr(30);
                this.createOrUpdateFireStore();

                var param =  {
                    chat_id: this.chatId,
                    chat_list_id: this.activeRoomId,
                    is_group_chat: 0,
                    message: this.messageData.text,
                    sender_id: this.auth.firebase_id,
                    sender_phone: this.auth.phone,
                    sender_name: this.auth.name,
                    type: "text",
                    dataObj: "[]",
                    message_object: {
                        message: this.messageData.text,
                        chat_id: this.chatId,
                        is_forwarded_item: "0",
                        date: firebase.firestore.Timestamp.fromDate(new Date()),
                        type: "text"
                    },
                    do_not_show_to: ""
                };
                axios.post('/store_message', param)
                    .then(response => {
                        this.messageData.text = '';
                    });
            },

            createOrUpdateFireStore() {
                var authId = this.auth.firebase_id;
                var destinationId = this.destination.firebase_id;
                var currentDate = firebase.firestore.Timestamp.fromDate(new Date());
                var roomId = this.randStr(30);
                roomId = this.activeRoomId ? this.activeRoomId : roomId;
                // console.log(this.activeRoom);
                var firestoreData = {
                    "is_group_chat": false,
                    "chat_type": 2,
                    "sender_image": this.auth.image_url,
                    "message_object": {
                        "message": this.messageData.text,
                        "date": currentDate,
                        "type": "text",
                        "chat_id": this.chatId,
                        "is_forwarded_item": false
                    },
                    "members": [
                        authId,
                        destinationId
                    ],
                    "created_at": {
                        "seconds": 1595791113,
                        "nanoseconds": 122000000
                    },
                    "sender_name": this.auth.name,
                    "date": firebase.firestore.Timestamp.fromDate(new Date()),
                    "sender_id": this.auth.firebase_id
                };
                firestoreData[authId] = {
                    "to": destinationId,
                    "display_name": this.auth.name,
                    "isReceiverRead": false,
                    "display_image": this.auth.image_url,
                    "isRead": true
                };
                firestoreData[destinationId] = {
                    "to": this.auth.firebase_id,
                    "display_name":  this.destination.name,
                    "isReceiverRead": false,
                    "isRead": false,
                    "display_image":  this.destination.image_url
                };

                console.log(firestoreData)

                persons.doc(roomId)
                    .set(firestoreData)
                    .then(docRef => {
                        if (this.activeRoomId) {

                        } else {
                            alert(roomId);

                            var room = persons.doc(roomId);
                            room.get().then(doc => {
                                this.activeRoom = doc.data();
                                this.activeRoomId = roomId;
                            }).catch(function(error) {
                                console.log("Error getting document:", error);
                            });
                        }
                        console.log("Document written with ID: ", roomId, (this.activeRoomId));
                });
            },

            randStr(len) {
                let s = '';
                while (s.length < len) s += Math.random().toString(36).substr(2, len - s.length);
                return s;
            }

        },
        watch: {
        },
    }
</script>

<style scoped>
    .auth {
        background: wheat;
        border-radius: 5px;
        padding: 5px 5px;
        float: right;
        width: 85%;
        margin-bottom: 10px;
    }
    .dest {
        background: #9cbef5;
        border-radius: 5px;
        padding: 5px 5px;
        float: left;
        width: 85%;
        margin-bottom: 10px;

    }
    .none {
        display: none !important;
    }
    .block {
        display: block !important;
    }
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup chat - hidden by default */
    .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
        width: 307px;
        background: #CCC;
        height: auto;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

    /* Full-width textarea */
    .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 150px;
    }

    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for the submit/send button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
</style>
