<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <!--<pre> {{ persons[0] }}</pre>-->
                    <!--<pre> {{ test }}</pre>-->
                    <!--<pre> {{ personId }}</pre>-->

                    <div class="col-sm-6">
                        Room List
                        <table class="table table-bordered">
                            <tr v-for="(i, index) in room" @click="getMessage(i.chat_list_id, index)">
                                <td>
                                    <p>{{ i.display_name }} |{{ i.total_unread }}</p>
                                    <small>{{ i.last_message }}</small>
                                    <br>
                                    <small>ID:{{ i.chat_list_id }}</small>
                                    <br>
                                    <small>Sender:{{ i.chat_list_id }}</small>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        Message List
                        <table class="table table-bordered">
                            <tr v-for="(i, index) in message" :id="'message_'+index">
                                <td>
                                    <p>{{ i.message }}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { db } from '../firestore/db'
    const persons = db.collection("persons");
    const authId = 'IhVGsl59lfYtuLEGppXiHZQ3TTU2';
    export default {
        name: 'ChatBoxBackup',
        data() {
          return {
              room: '',
              message: '',
              persons: [],
              person: '',
              personId: [],
              personWatch: [],
              test: ["12","4r"],
              localDataFormat: {
                  id: 159,
                  chat_id: "kkViEomVo9quAYuV4IE9mMw-50mVYM",
                  chat_list_id: "R5JN5w22WXRKH2k0MAk42MmIM",
                  is_group_chat: 0,
                  date: "2020-05-25",
                  message: "Hi",
                  sender_id: "m2V9mT6wM7XkvkMLM1W3e6Pk5Vb2",
                  sender_phone: "+85510000000",
                  sender_name: "Demo 010",
                  type: "text",
                  dataObj: "",
                  message_object: {
                      message: "Hi",
                      chat_id: "kkViEomVo9quAYuV4IE9mMw-50mVYM",
                      is_forwarded_item: "0",
                      date: "<FIRTimestamp: seconds=1590390591 nanoseconds=558064937>",
                      type: "text"
                  },
                  created_at: "2020-05-26 04:09:51",
                  updated_at: "2020-05-26 04:09:51",
                  do_not_show_to: ""
              }


          }
        },
        mounted() {
            this.getRoom();
            var i = 0;
            persons
                .where("members", "array-contains", authId)
                .onSnapshot(querySnapshot => {
                    querySnapshot.docChanges().forEach(change => {
                        if (change.type === "added") {

                            console.log("New city: ", change.doc.data());
                            this.persons.push(change.doc.data());
                        }
                        if (change.type === "modified") {

                            console.log("Modified city: ", change.doc.id);

                            var index = this.room.findIndex(r => r.chat_list_id === change.doc.id);
                            console.log(index)
                            if (this.room[index].active) {
                                // append message
                                // this.room[index].last_message = docData.message_object.message;
                                var docData = change.doc.data();
                                this.message.push({
                                    message: docData.message_object.message
                                })
                                // const el = this.$el.getElementsByClassName('index-50')[0];

                                var newMessage = document.getElementById("message_"+(this.message.length -1));
                                newMessage.scrollTop = newMessage.scrollHeight;
                                // el.scrollIntoView();
                            } else {
                                // +1 unread message
                                var docData = change.doc.data();
                                this.room[index].total_unread++;
                                this.room[index].last_message = docData.message_object.message;
                            }
                        }
                        if (change.type === "removed") {
                            console.log("Removed city: ", change.doc.id);
                        }
                    });
                });

            console.log(this.persons);


        },
        methods: {
            getRoom() {

                axios.get('/get_room').then(response => {
                    // console.log(response.status);
                    this.room = response.data;
                    // console.log(this.room)
                });
            },
            getMessage(chatId, index) {
                this.room[index].active = 1;
                this.room[index].total_unread = 0;

                axios.get('/get_message?chat_id='+chatId).then(response => {
                    // console.log(response.status);
                    this.message = response.data;
                });
            },
            sendMessage() {

            }
        },
        watch: {
            // persons: {
            //     // call it upon creation too
            //     immediate: true,
            //     handler(persons) {
            //         this.$bind('persons', persons.doc(id))
            //     },
            // },
        },
    }
</script>
