<template>
    <div class="container app">
        <div class="row app-one">
            <div class="col-sm-4 side">
                <div class="side-one">
                    <div class="row searchBox">
                        <div class="col-sm-12 searchBox-inner">
                            <div class="form-group has-feedback">
                                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row sideBar">
                        <div class="row sideBar-body" v-for="(i, index) in rooms" @click="getMessage(i.chat_list_id, index)" :class="{'active' : (i.chat_list_id === activeRoom.chat_list_id)}">
                            <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                <div class="avatar-icon">
                                    <img v-if="i.avatar" :src="i.avatar">
                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-9 sideBar-main">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 sideBar-name">
                                        <span class="name-meta">{{ i.display_name }}</span> <span v-if="i.total_unread">|{{ i.total_unread }}</span><br>
                                        <span>Last sms: {{ i.last_message }}</span><br>
                                        <!--<span>Room ID: {{ i.chat_list_id }}</span><br>-->
                                        <!--<span>Sender ID: {{ i.sender_id }}</span>-->
                                    </div>
                                     <!--<div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                       <span class="time-meta pull-right" v-if="i.created_at"">{{ i.created_at | moment("h:mm a") }}</span>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--todo-->

                </div>
                <div class="side-two"></div>

                <!--todo-->
            </div>

            <div class="col-sm-8 conversation" v-if="activeRoom.display_name">
                <div class="row heading">
                    <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                        <div class="heading-avatar-icon">
                            <!--<img src="https://bootdey.com/img/Content/avatar/avatar6.png">-->
                            <img v-if="activeRoom.avatar" :src="activeRoom.avatar">
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 heading-name">
                        <a class="heading-name-meta">{{ activeRoom.display_name }}</a>
                        <span class="heading-online">Online</span>
                    </div>
                    <div class="col-sm-1 col-xs-1  heading-dot pull-right">
                         <!--<i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>-->
                    </div>
                </div>

                <div class="row message" id="conversation">
                    <div class="row message-previous">
                        <div class="col-sm-12 previous">
                            <!--<a onclick="previous(this)" id="ankitjain28" name="20">
                                Show Previous Message!
                            </a>-->
                        </div>
                    </div>

                    <div class="row message-body" v-for="(m, index) in messages">
                        <div class="col-sm-12"  :class="{'message-main-sender': (auth.firebase_id === m.sender_id),  'message-main-receiver': (auth.firebase_id !== m.sender_id)}">
                            <div class="receiver" :id="'message_'+index">
                                <div v-if="m.type === 'text'" class="message-text">
                                    {{ m.message }}
                                </div>
                                <div v-if="m.type === 'image'" class="message-text">
                                    <a target="_blank" :href="m.message_object.url"><img :src="m.message_object.url" alt="" style="height: 100px;"></a>
                                </div>
                                <span class="message-time pull-right" :title="m.created_at">{{ m.created_at | moment("h:mm a") }}</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row reply">
                    <div class="col-sm-1 col-xs-1 reply-emojis" data-toggle="modal" data-target="#exampleModal">
                         <input type="file" id="myfile" name="myfile" multiple><i class="fa fa-paperclip fa-2x"></i>
                    </div>
                    <div class="col-sm-9 col-xs-9 reply-main">
                        <input @keyup.enter="sendMessage('text')" type="text" v-model="messageData.text" class="form-control"  id="comment">
                        <!--<textarea v-model="messageData.text" class="form-control" rows="1" id="comment"></textarea>-->
                    </div>
                    <div class="col-sm-2 col-xs-1 reply-recording">
                        
                        <i @click="sendMessage('text')" class="fa fa-send fa-2x" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
<!--                        <input type="file"  v-model="files" id="myfile" name="myfile" multiple>-->
                                <label>
                                    <i class="fa fa-paperclip"></i> File
                                    <input  type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
<!--                                    <input-->
<!--                                        id="files"-->
<!--                                        type="file"-->
<!--                                        name="file"-->
<!--                                        ref="uploadInput"-->
<!--                                        accept="image/*"-->
<!--                                        :multiple="false"-->
<!--                                        @change="detectFiles($event)" />-->
                                </label>
                                <div>
                                    <img v-for="f in files" :src="f" alt="" style="width: 71px;">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" v-on:click="upload()">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {db, firestorage} from '../firestore/db'
    const firebaseRoom = db.collection("persons");
    import firebase from 'firebase/app'

    const authId = 'IhVGsl59lfYtuLEGppXiHZQ3TTU2';
    export default {
        name: 'ChatBox',
        data() {
          return {
              progressUpload: 0,
              fileName: 'test',
              uploadTask: '',
              uploading: false,
              uploadEnd: false,
              downloadURL: '',

              files: [],
              auth: null,
              rooms: [],
              activeRoom: {},
              activeRoomId: '',
              roomIds: [],
              destinationIds: [],
              messages: [],


              persons: [],
              person: '',
              personId: [],
              personWatch: [],
              messageData: {
                  text: ''
              }

          }
        },
        mounted() {
            this.getAuth();
            this.watchingRoom();

            console.log(this.persons);


        },
        methods: {
            handleFileUpload(){
                // this.file = this.$refs.file.files[0];
                // this.$refs.file.files;
                // this.files  = URL.createObjectURL(this.file);
                for (var i = 0; i < this.$refs.file.files.length; i++) {
                    this.files.push(URL.createObjectURL(this.$refs.file.files[i]));
                }
            },
            // detectFiles (e) {
            //     let fileList = e.target.files || e.dataTransfer.files
            //     Array.from(Array(fileList.length).keys()).map(x => {
            //         this.upload(fileList[x])
            //     })
            // },
            upload () {
                this.fileName = this.$refs.file.files[0].name
                // this.uploading = true
                // var file = ... // use the Blob or File API
                // firestorage.ref('images/' + this.fileName).put(this.$refs.file.files[0]).then(function(snapshot) {
                //     console.log(snapshot);
                // });
                this.uploadTask = firestorage.ref('images/' + this.fileName).put(this.$refs.file.files[0])
                //     .then(() => {
                //     this.sendMessage('image')
                //
                // })


                //     console.log('Uploaded a blob or file!');



            },
            deleteImage () {
                firestorage
                    .ref('images/' + this.fileName)
                    .delete()
                    .then(() => {
                        this.uploading = false
                        this.uploadEnd = false
                        this.downloadURL = ''
                    })
                    .catch((error) => {
                        console.error(`file delete error occured: ${error}`)
                    })
                this.$refs.form.reset()
            },
            submitFile(){
                let formData = new FormData();
                formData.append('file', this.file);
                axios.post( '/single-file',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(){
                    console.log('SUCCESS!!');
                })
                    .catch(function(){
                        console.log('FAILURE!!');
                    });
            },
            getAuth: function() {
                axios.get('/get_support').then(response => {
                    this.auth = response.data;
                    this.getRoom();
                });
            },
            async getRoom() {
                await  firebaseRoom
                    .where("members", "array-contains", this.auth.firebase_id)
                    .get()
                    .then(data => {
                        data.forEach(item => {
                            console.log('dco id',item.id);
                            this.roomIds.push(item.id);
                            this.destinationIds.push(item.data().members);
                            console.log(item.data())
                        })
                    }).then(roomIds => {
                    console.log(this.roomIds);

                    // this.roomIds = [
                    //     '0e07pigfklwql6fwj1q7geriohyf8u',
                    //     'a89i9mrx2botwfzm1zo8zlyfyvdnod',
                    //     'n51bdpdp58gwlq2meixl7t28vf9v92',
                    // ];
                    // this.destinationIds = [
                    //     [
                    //         "bUE0cZUXbpcEKBG9GKQZDjGR3v92",
                    //         "IhVGsl59lfYtuLEGppXiHZQ3TTU2"
                    //     ],
                    //     [
                    //         "YATixiV3FiMA9a7fmCFymtPYK0f2",
                    //         "IhVGsl59lfYtuLEGppXiHZQ3TTU2"
                    //     ],
                    //     [
                    //         "BkSaLLvKEbYJvrECLkO4zDUOPmF3",
                    //         "IhVGsl59lfYtuLEGppXiHZQ3TTU2"
                    //     ]
                    // ];
                    axios.post('/get_room',{ room_id: this.roomIds, dest_id: this.destinationIds}).then(response => {
                        this.rooms = response.data;
                        console.log(this.rooms)
                    });
                });
            },
            watchingRoom() {
                firebaseRoom
                .where("members", "array-contains", authId)
                .onSnapshot(querySnapshot => {
                    querySnapshot.docChanges().forEach(change => {
                        if (change.type === "added") {
                            console.log("New room: ", change.doc.data());
                            /** todo: need get room from local */
                            //alert('not yet implement');
                            //this.rooms.push(change.doc.data());
                        }
                        if (change.type === "modified") {
                            console.log("Modified room: ", change.doc.id);
                            var index = this.rooms.findIndex(r => r.chat_list_id === change.doc.id);
                            // console.log(index)

                            if (this.rooms[index].active) {
                                // append message
                                var docData = change.doc.data();
                                this.getMessageById(docData.message_object.chat_id);
                            } else {
                                // +1 unread message
                                var docData = change.doc.data();
                                this.rooms[index].total_unread++;
                                this.rooms[index].last_message = docData.message_object.message;
                            }
                        }
                        if (change.type === "removed") {
                            alert('not yet implement');
                            console.log("Removed room: ", change.doc.id);
                        }
                    });
                });
            },
            getMessageById(chatId) {
                axios.get('/get_message?chat_id='+chatId).then(response => {
                    this.messages.push(response.data);
                    this.activeRoom.last_message = response.data.message;
                    this.scrollDown();
                });
            },
            scrollDown() {
                setTimeout(() => {
                    var newMessage = this.$el.querySelector("#message_"+(this.messages.length -1));
                    if (newMessage) {
                        newMessage.scrollIntoView({behavior: 'smooth'});
                    }else{
                        // alert(0);
                    }
                }, 150);
            },

            getMessage(roomId, index) {
                this.rooms[index].active = 1;
                this.rooms[index].total_unread = 0;
                this.activeRoom = this.rooms[index];

                axios.get('/get_messages?room_id='+roomId).then(response => {
                    // console.log(response.status);
                    this.messages = response.data;
                }).then(() => {
                    this.scrollDown();
                });
            },
            sendMessage(type) {
                this.chatId = this.randStr(30);
                this.createOrUpdateFireStore();

                var param =  {
                    chat_id: this.chatId,
                    chat_list_id: this.activeRoom.chat_list_id,
                    is_group_chat: 0,
                    message: type === 'text' ? this.messageData.text : 'Image attachment',
                    sender_id: this.auth.firebase_id,
                    sender_phone: this.auth.phone,
                    sender_name: this.auth.name,
                    type: type,
                    dataObj: "[]",
                    message_object: {
                        url: type === 'text' ? '' : this.downloadURL,
                        message: type === 'text' ? this.messageData.text : 'Image attachment',
                        chat_id: this.chatId,
                        is_forwarded_item: "0",
                        date: firebase.firestore.Timestamp.fromDate(new Date()),
                        type: type
                    },
                    do_not_show_to: ""
                };
                axios.post('/store_message', param)
                    .then(response => {
                        this.messageData.text = '';
                        // this.downloadURL = '';
                    });
            },

            createOrUpdateFireStore() {
                var authId = this.auth.firebase_id;
                var destinationId = this.activeRoom.destination.firebase_id;
                var currentDate = firebase.firestore.Timestamp.fromDate(new Date());
                var roomId = this.randStr(30);
                roomId = this.activeRoom.chat_list_id ? this.activeRoom.chat_list_id : roomId;
                // console.log(this.activeRoom);
                var firestoreData = {
                    "is_group_chat": false,
                    "chat_type": 2,
                    "sender_image": this.auth.image_url,
                    "message_object": {
                        "message": this.messageData.text,
                        "date": currentDate,
                        "type": "text",
                        "chat_id": this.chatId,
                        "is_forwarded_item": false
                    },
                    "members": [
                        authId,
                        destinationId
                    ],
                    "created_at": {
                        "seconds": 1595791113,
                        "nanoseconds": 122000000
                    },
                    "sender_name": this.auth.name,
                    "date": firebase.firestore.Timestamp.fromDate(new Date()),
                    "sender_id": this.auth.firebase_id
                };
                firestoreData[authId] = {
                    "to": destinationId,
                    "display_name": this.auth.name,
                    "isReceiverRead": false,
                    "display_image": this.auth.image_url,
                    "isRead": true
                };
                firestoreData[destinationId] = {
                    "to": this.auth.firebase_id,
                    "display_name":  this.activeRoom.destination.name,
                    "isReceiverRead": false,
                    "isRead": false,
                    "display_image":  this.activeRoom.destination.image_url
                };

                console.log(firestoreData)

                firebaseRoom.doc(roomId)
                    .set(firestoreData)
                    .then(docRef => {
                        if (this.activeRoom.chat_list_id) {

                        } else {
                            alert(roomId);

                            // var room = persons.doc(roomId);
                            // room.get().then(doc => {
                            //     this.activeRoom = doc.data();
                            //     this.activeRoomId = roomId;
                            // }).catch(function(error) {
                            //     console.log("Error getting document:", error);
                            // });
                        }
                        console.log("Document written with ID: ", roomId, (this.activeRoomId));
                });
            },

            randStr(len) {
                let s = '';
                while (s.length < len) s += Math.random().toString(36).substr(2, len - s.length);
                return s;
            }

        },
        watch: {
            uploadTask: function () {
                this.uploadTask.on('state_changed', sp => {
                        // this.progressUpload = Math.floor(sp.bytesTransferred / sp.totalBytes * 100)
                    },
                    null,
                    () => {
                        this.uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
                            this.uploadEnd = true
                            this.downloadURL = downloadURL
                            this.$emit('downloadURL', downloadURL)
                            // $("#exampleModal").toggle();
                            // $('#exampleModal').modal('hide');
                            this.sendMessage('image')
                        })
                    })
            }
        }
    }
</script>
